body {
  background: 0 -100px repeat-x url(https://mdn.mozillademos.org/files/5415/bg_gallery.png) #4F191A;
  margin: 0px;
}
img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}
canvas{
  /*background-color: red;*/
  position: fixed;
}
h1{
  text-align:center;
  color: lightgoldenrodyellow;
}